[color]
  ui = true
[user]
  name = ippachi
  email = ivalice1218@gmail.com
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  fe = fetch
  me = merge
  pushh = push origin HEAD
  one = log --oneline
  pushf = push --force-with-lease
  gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[core]
  excludesfile = /Users/ippachi/.gitignore_global
  editor = nvim
[rerere]
  enabled = true
